{% extends 'sakshi/base.html' %}
{% load static %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="contact" class="contact d-flex align-items-center justify-content-center" style="background: url('{{ contactUs.image.url }}') center; background-size: cover;">
        <div class="container mb-5" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="250">
                <h1><span>Contact</span> Us</h1>
            </div>

            <div class="row gy-4 mt-2 justify-content-center" data-aos="zoom-in" data-aos-delay="350">
                <div class="row mt-4">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="email mt-3">
                                <i class="bi bi-envelope"></i>
                                <h4><span>Email:</span></h4>
                                <p>{{contactUs.email}}</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4><span>Call:</span></h4>
                                <p>{{contactUs.call}}</p>
                            </div>

                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4><span>Location:</span></h4>
                                <p>{{contactUs.address}}</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">


        <!-- ======= Contact Section ======= -->
        <section id="" class="contact">
            <div class="container" data-aos="fade-up">
                <div>
                    <iframe style="border:0; width: 100%; height: 270px;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                        frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

{% endblock %}