{% extends 'sakshi/base.html' %}
{% load static %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="250">
                <div class="col-xl-8 col-lg-8">
                    <h1>Let<span>'</span>s <span>Capture</span></h1>
                    <h1>The Priceless <span>Memories</span></h1>
                    <h2>You Embrace, We Enhance, You Appreciate</h2>
                </div>
            </div>

            <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="350">
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-camera"></i>
                        <h3><a href="">Photography</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-camera-reels"></i>
                        <h3><a href="">Videography</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-images"></i>
                        <h3><a href="">Album</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-vinyl"></i>
                        <h3><a href="">Highlights</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-postcard-heart"></i>
                        <h3><a href="">Invitations</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Quote Section ======= -->
        <section id="quote" class="quote">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="250">
                        <img src="{{topQuote.image.url}}" class="position-absolute img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                        data-aos-delay="250">
                        <p>{{topQuote.text|safe}}</p>
                    </div>
                </div>

            </div>
        </section><!-- End Quote Section -->

        <!-- ======= Weddings Section ======= -->
        <section id="weddings" class="weddings">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2><a href="{% url 'category_detail' slug='wedding' %}">Weddings</a></h2>
                    <p><a href="{% url 'category_detail' slug='wedding' %}">Check our Weddings</a></p>
                </div>

                <div class="row">
                    {% for wedding in weddings %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                        <div class="card card-box">
                            <!-- <div class="icon"><i class="bi bi-arrow-through-heart"></i></div> -->
                            <div class="position-relative h-100 mb-3">
                                <img src="{{wedding.thumbnail.url}}" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                            </div>
                            <h4><a class="p-3" href="{% url 'post_detail' slug=wedding.slug %}">{{wedding.title}}</a></h4>
                            <div class="d-flex justify-content-between">
                                <p class="ms-4 mt-0">{{wedding.destination}}</p>
                                <p class="mt-3 mb-1"><a class="p-3 mt-5" href="{% url 'post_detail' slug=wedding.slug %}">View Post >>></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- End Weddings Section -->

        <!-- ======= Collage Section ======= -->
        <section id="collage" class="collage">
            <div class="container" data-aos="zoom-in">

                <div class="collage-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        {% for collageCrousel in collageCrousels %}
                        <div class="swiper-slide"><img src="{{collageCrousel.image.url}}" class="img-fluid" alt="">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>

            </div>
        </section><!-- End Collage Section -->

        <!-- ======= Pre-Weddings Section ======= -->
        <section id="weddings" class="weddings">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2><a href="{% url 'category_detail' slug='pre-wedding' %}">Pre-Weddings</a></h2>
                    <p><a href="{% url 'category_detail' slug='pre-wedding' %}">Check our Pre-Weddings</a></p>
                </div>

                <div class="row">
                    {% for preWedding in preWeddings %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                        <div class="card card-box">
                            <!-- <div class="icon"><i class="bi bi-arrow-through-heart"></i></div> -->
                            <div class="position-relative h-100 mb-3">
                                <img src="{{preWedding.thumbnail.url}}" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                            </div>
                            <h4><a class="p-3" href="{% url 'post_detail' slug=preWedding.slug %}">{{preWedding.title}}</a></h4>
                            <div class="d-flex justify-content-between">
                                <p class="ms-4 mt-0">{{preWedding.destination}}</p>
                                <p class="mt-3 mb-1"><a class="p-3 mt-5" href="{% url 'post_detail' slug=preWedding.slug %}">View Post >>></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- End Pre-Weddings Section -->

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-in">

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        {% for slideCrousel in slideCrousels %}
                        <div class="swiper-slide"><img src="{{slideCrousel.image.url}}" class="img-fluid" alt="">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>

            </div>
        </section><!-- End Clients Section -->

        <!-- ======= Features Section ======= -->
        <!-- <section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="image col-lg-6" style='background-image: url("assets/img/features.jpg");' data-aos="fade-right"></div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-receipt"></i>
            <h4>Photography</h4>
            <p>It's an art of capturing the rendom pictures of lovely moments and represent in the form of images</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-cube-alt"></i>
            <h4>Videography</h4>
            <p>It's an art of shoot the memories in friction of seconds</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-images"></i>
            <h4>Album</h4>
            <p>It's a collection of number of static moments</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-shield"></i>
            <h4>Highlights</h4>
            <p>It's a flash mob of full wedding. It gives a wedding touch in a few minutes</p>
          </div>
        </div>
      </div>

    </div>
  </section> -->
        <!-- End Features Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta d-flex align-items-center justify-content-center" style="background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url('{{reach.image.url}}') fixed center center; background-size: cover;">
            <div class="container" data-aos="zoom-in">

                <div class="text-center">
                    <p>{{reach.text|safe}}</p>
                    <a class="cta-btn" href="{% url 'contact' %}">{{reach.button}}</a>
                </div>

            </div>
        </section><!-- End Cta Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2><a href="{% url 'portfolio' %}">Portfolio</a></h2>
                    <p><a href="{% url 'portfolio' %}">Check our Portfolio</a></p>
                </div>

                <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="portfolio-item flexbox-gallery-ul ">
                        {% for image in images %}
                        <div class="flexbox-gallery-li filter-{{ image.category }}">
                            <a href="{{ image.album.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">
                                <img class="flexbox-gallery-img" src="{{ image.album.url }}" alt="">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Quote Section ======= -->
        <section id="quote" class="quote">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="250">
                        <img src="{{bottomQuote.image.url}}" class="position-absolute img-fluid px-4 w-100 h-100" style="object-fit: cover;" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left"
                        data-aos-delay="250">
                        <p>{{bottomQuote.text|safe}}</p>
                    </div>
                </div>

            </div>
        </section><!-- End Quote Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials d-flex align-items-center justify-content-center" style="background: url('{{ testimonialCover.image.url }}') center; background-size: cover;">
            <div class="container" data-aos="zoom-in">

                <div class="section-title">
                    <h2 style="color: rgb(184, 184, 184);">Testimonials</h2>
                    <p style="color: #ffc451;">Check our Testimonials</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        {% for testimonial in testimonials %}
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{{testimonial.image.url}}" class="testimonial-img" alt="">
                                <h3>{{testimonial.name}}</h3>
                                <h4>{{testimonial.designation}}</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    {{testimonial.comment}}
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

    </main><!-- End #main -->


{% endblock %}