{% extends 'sakshi/base.html' %}
{% load static %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="contact" class="contact" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="250">
            <h1><span>Log</span> In</h1>
        </div>

        <div class="row gy-4 mt-2 justify-content-center" data-aos="zoom-in" data-aos-delay="350">

            <div class="col-lg-4 mt-lg-2">

                <div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="card-body">
                        <form method="POST" class="needs-validation">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email" style="color: #ffffff;">Email</label>
                                <input id="email" type="text" class="form-control" name="email" tabindex="1" required
                                    autofocus>
                                <div class="invalid-feedback">
                                    Please fill in your email
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-block">
                                    <label for="password" class="control-label" style="color: #ffffff;">Password</label>
                                </div>
                                <input id="password" type="password" class="form-control" name="password" tabindex="2"
                                    required>
                                <div class="invalid-feedback">
                                    please fill in your password
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                    Login
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="mt-5 text-muted text-center">
                    Don't have an account? <a href="{% url 'signup' %}">Create Account</a>
                </div>

            </div>
        </div>

    </div>
</section><!-- End Hero -->

{% endblock %}