{% extends 'sakshi/base.html' %}
{% load static %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="pos" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="250">
                <div class="col-xl-6 col-lg-8">
                    <h1>Check our <span>Posts</span></h1>
                </div>
            </div>

        </div>
    </section>
    <!-- End Hero -->

    <!-- ======= Post Section ======= -->
    <section id="post" class="post">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="post-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <!-- <li data-filter=".filter-wedding">Wedding</li>
                        <li data-filter=".filter-pre-wedding">Pre-Wedding</li>
                        <li data-filter=".filter-corporate">Corporate</li> -->
                        {% for cat in cats %}
                        <li data-filter=".filter-{{ cat.name }}">{{ cat.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr><br>

            <div class="row post-container" data-aos="fade-up" data-aos-delay="200">
                {% for post in posts %}
                <div class="col-lg-4 col-md-4 post-item filter-{{ post.category }}">
                    <div class="post-wrap">
                        <div class="position-relative h-100">
                            <img class="img-fluid w-100 h-100" src="{{ post.thumbnail.url }}"
                                style="object-fit: cover;" alt="{{ post.title }}">
                        </div>
                        <!-- <img src="{{ post.thumbnail.url }}" style="object-fit: cover;" class=" img-fluid w-100 h-100" alt="{{ post.title }}"> -->
                        <div class="post-info">
                            <h4><a href="{% url 'post_detail' slug=post.slug %}" title="Read More">{{ post.title }}</a></h4>
                            <p><a href="{% url 'category_detail' slug=post.category.slug %}">{{ post.category }}</a></p>
                            <div class="post-links">
                                <a href="{{ post.thumbnail.url }}" data-gallery="postGallery"
                                    class="post-lightbox" title="View Image"><i class="bx bx-plus"></i></a>
                                <a href="{% url 'post_detail' slug=post.slug %}" title="Read More"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Post Section -->

{% endblock %}